@page
@model Backlog.BacklogUserStoryDetailModel
@{
    <h1>
        Backlog
        <span class="p-lg-1">
            <a class="btn" type="button" style="color: grey" data-toggle="tooltip" data-placement="bottom" title="Add new user story to Backlog" asp-page="BacklogCreateUserStory" asp-route-id="0">
                <i class="fa fa-plus" style="color: grey" aria-hidden="true"></i> <b>Add New</b>
            </a>
        </span>
    </h1>

    <div class="card-columns">

        @foreach (var userStory in @Model.UserStories)
        {

            <div class="card mb-2">
                <div class="card-header p-1" style="height:2rem">
                    <h5 class="card-title" align="center">@userStory.Title<span class="float-right text-black-50 p-lg-1" data-toggle="tooltip" data-placement="bottom" title="Priority">@userStory.Priority</span></h5>
                </div>
                <div class="card-body p-0">
                    <p class="card-text" style="height: 15rem; white-space: pre-line; padding-left: 5px; padding-right: 5px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical;">@userStory.Description</p>
                </div>
                <div class="card-footer" align="center">
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="View details" asp-page="BacklogUserStoryDetail" asp-route-id="@userStory.Id"><i class="fa fa-info-circle" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Edit user story" asp-page="BacklogEditUserStory" asp-route-id="@userStory.Id"><i class="fa fa-edit" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Delete user story" asp-page="BacklogDeleteUserStory" asp-route-id="@userStory.Id"><i class="fa fa-trash" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Move to Sprint" asp-page-handler="MoveRight" asp-route-id="@userStory.Id"><i class="fa fa-arrow-right" style="color: grey"></i></a>
                </div>
            </div>

        }
    </div>


    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@Model.UserStory.Title</h5>
                </div>

                <div class="modal-body">
                    <p><b>Description:</b></p>
                    <p style="white-space: pre-line">@Model.UserStory.Description</p>
                    <p><b>Priority:</b> @Model.UserStory.Priority</p>
                    <p><b>Business value:</b> @Model.UserStory.BusinessValue</p>
                    <p><b>Story points:</b> @Model.UserStory.StoryPoints.ToString().Replace('_', ' ')</p>
                    <p><b>Status:</b> @Model.UserStory.Column.ToString().Replace('_', ' ')</p>
                    <p><b>Creation date:</b> @Model.UserStory.CreationDate</p>
                </div>

                <div class="modal-footer">
                    <a type="button" class="btn btn-danger" style="width: 10rem" asp-page="Backlog">Close</a>
                </div>

            </div>
        </div>
    </div>

}


@section Scripts
{
    <script src="~/js/showModal.js"></script>
}
