@page
@model Backlog.BacklogEditUserStoryModel
@{
    <h1>
        Backlog
        <span class="p-lg-1">
            <a class="btn" type="button" style="color: grey" data-toggle="tooltip" data-placement="bottom" title="Add new user story to Backlog" asp-page="BacklogCreateUserStory" asp-route-id="0">
                <i class="fa fa-plus" style="color: grey" aria-hidden="true"></i> <b>Add New</b>
            </a>
        </span>
    </h1>

    <div class="card-columns">

        @foreach (var userStory in @Model.UserStories)
        {

            <div class="card mb-2">
                <div class="card-header p-1" style="height:2rem">
                    <h5 class="card-title" align="center">@userStory.Title<span class="float-right text-black-50 p-lg-1" data-toggle="tooltip" data-placement="bottom" title="Priority">@userStory.Priority</span></h5>
                </div>
                <div class="card-body p-0">
                    <p class="card-text" style="height: 15rem; white-space: pre-line; padding-left: 5px; padding-right: 5px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical;">@userStory.Description</p>
                </div>
                <div class="card-footer" align="center">
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="View details" asp-page="BacklogUserStoryDetail" asp-route-id="@userStory.Id"><i class="fa fa-info-circle" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Edit user story" asp-page="BacklogEditUserStory" asp-route-id="@userStory.Id"><i class="fa fa-edit" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Delete user story" asp-page="BacklogDeleteUserStory" asp-route-id="@userStory.Id"><i class="fa fa-trash" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Move to Sprint" asp-page-handler="MoveRight" asp-route-id="@userStory.Id"><i class="fa fa-arrow-right" style="color: grey"></i></a>
                </div>
            </div>

        }
    </div>


    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <form method="post" enctype="multipart/form-data">

                    <input type="hidden" asp-for="UserStory.Id" />
                    <input type="hidden" asp-for="UserStory.Column" />
                    <div class="modal-header">
                        <div class="form-group">
                            <label asp-for="@Model.UserStory.Title" class="control-label"></label>
                            <input asp-for="@Model.UserStory.Title" class="form-control" />
                            <span asp-validation-for="@Model.UserStory.Title" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="@Model.UserStory.Description" class="control-label"></label>
                            <textarea asp-for="@Model.UserStory.Description" class="form-control" rows="8"></textarea>
                            <span asp-validation-for="@Model.UserStory.Description" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.UserStory.BusinessValue" class="control-label"></label>
                            <select class="form control" asp-for="UserStory.BusinessValue">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.UserStory.Priority" class="control-label"></label>
                            <select class="form control" asp-for="UserStory.Priority">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.UserStory.StoryPoints" class="control-label"></label>
                            <select class="form-control" asp-for="UserStory.StoryPoints" asp-items="@Model.StoryPoints"></select>
                        </div>

                        <p><b>Status: </b> @Model.UserStory.Column.ToString().Replace('_', ' ')</p>
                        <p><b>Creation date: </b>@Model.UserStory.CreationDate</p>
                    </div>

                    <div class="modal-footer align-content-center">
                        <a type="button" class="btn btn-danger" style="width: 15rem" asp-page="Backlog">Cancel</a>
                        <input id="Edit User Story" type="submit" value="Edit" class="btn btn-success" style="width: 15rem" />
                    </div>

                </form>
            </div>
        </div>
    </div>

}


@section Scripts
{
    <script src="~/js/showModal.js"></script>
}
