@page "{handler?}"
@model Backlog.BacklogModel
@{


    <h1>
        Backlog
        <span class="p-lg-1">
            <a class="btn" type="button" style="color: grey" data-toggle="tooltip" data-placement="bottom" title="Add new user story to Backlog" asp-page="BacklogCreateUserStory" asp-route-id="0">
                <i class="fa fa-plus" style="color: grey" aria-hidden="true"></i> <b>Add New</b>
            </a>
        </span>
    </h1>

    <div class="card-columns">

        @foreach (var userStory in @Model.UserStories)
        {

            <div class="card mb-2">
                <div class="card-header p-1" style="height:2rem">
                    <h5 class="card-title" align="center">@userStory.Title<span class="float-right text-black-50 p-lg-1" data-toggle="tooltip" data-placement="bottom" title="Priority">@userStory.Priority</span></h5>
                </div>
                <div class="card-body p-0">
                    <p class="card-text" style="height: 15rem; white-space: pre-line; padding-left: 5px; padding-right: 5px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical;">@userStory.Description</p>
                </div>
                <div class="card-footer" align="center">
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="View details" asp-page="BacklogUserStoryDetail" asp-route-id="@userStory.Id"><i class="fa fa-info-circle" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Edit user story" asp-page="BacklogEditUserStory" asp-route-id="@userStory.Id"><i class="fa fa-edit" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Delete user story" asp-page="BacklogDeleteUserStory" asp-route-id="@userStory.Id"><i class="fa fa-trash" style="color: grey"></i></a>
                    <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Move to Sprint" asp-page-handler="MoveRight" asp-route-id="@userStory.Id"><i class="fa fa-arrow-right" style="color: grey"></i></a>
                </div>
            </div>

        }
    </div>
}


@section Scripts
{
    <script src="~/js/showTooltips.js"></script>
}