@page "{handler?}"
@model Account.AccountPageModel
@{
}
<div class="card mb-2" style="margin: auto; width: 75%; padding: 5px; border: none">
    <div class="card-header p-2 text-center" style="height: 4rem; border: none; background: none">
        <h1 class="card-title"><a class="btn"><i class="fa fa-edit" style="visibility: hidden"></i></a> Your Profile <a class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Edit Profile" asp-page="EditUser" asp-route-id="@Model.Programmer"><i class="fa fa-edit" style="color: grey"></i></a></h1>
    </div>
    <div class="p-1"></div>
    <div class="card-body p-1;" Style="margin: auto; width: 100%" align="center">
        <div class="row">
            <div class="col-4" align="center">
                @if (!String.IsNullOrEmpty(@Model.Programmer.ProfilePictureName))
                {
                    <img class="rounded-circle" style="width: 200px; height: 200px;" src="~/images/ProfilePictures/@Model.Programmer.ProfilePictureName" />
                    <p><a class="btn text-black-50" type="button" title="Delete Picture" asp-page-handler="DeletePicture">Delete Picture</a></p>
                }
                else
                {

                    <form method="post" enctype="multipart/form-data">

                        <label class="font-weight-bold" for="img">Upload profile picture</label>
                        <input id="File1" type="file" asp-for="Uploadfiles" accept="image/*"/>
                        <input id="Upload Picture" type="submit" value="Upload Image"/>
                    </form>
                }
            </div>
            <div class="col-8" align="center">
                <h4>Name: @Model.Programmer.FullName</h4>
                <h4>E-mail: @Model.Programmer.Email</h4>
                <h4>Member since: @Model.Programmer.CreationTime.Day/@Model.Programmer.CreationTime.Month/@Model.Programmer.CreationTime.Year</h4>
            </div>
        </div>
    </div>
</div>


    @section Scripts
{
        <script src="~/js/showTooltips.js"></script>
    }
