@page "{handler?}"
@using UserStories.Models
@model UserStories.Pages.UserStoriesModel
@{
    ViewData["Title"] = "User Stories";
    <h1 class="text-center">User Stories</h1>
    <div class="card-group">

        <div class="card mb-2 empty" style="width: 25%; padding: 5px; border: none">

            <div class="card-header p-2 text-center">
                <h5 class="card-title">
                    To do
                    <span class="float-right p-lg-1">
                        <a class="btn" type="button" asp-page="CreateUserStory" asp-route-id="1">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                </h5>
            </div>

            <div class="p-1"></div>

            @foreach (var userStory in @Model.UserStories)
            {
                @if (userStory.Column == Column.To_Do)
                {
                    <div class="card mb-2 dragAbleElement" draggable="true" id="@userStory.Id">
                        <div class="card-header p-1" style="height:2rem">
                            <h5 class="card-title text-center">@userStory.Title<span class="float-right text-black-50 p-lg-1">@userStory.Priority</span></h5>
                        </div>
                        <div class="card-body p-1" style="height: 5rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            <p class="card-text" style="white-space: pre-line; padding-left: 5px; padding-right: 5px;">@userStory.Description</p>
                        </div>
                        <div class="card-footer align-content-center" style="height: 2.5rem;  padding-top: 0; padding-bottom: 0">
                            <a class="btn" type="button" asp-page-handler="MoveLeft" asp-route-id="@userStory.Id"><i class="fa fa-arrow-left"></i></a>
                            <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@userStory.Id"><i class="fa fa-info-circle"></i></a>
                            <a class="btn" type="button" asp-page="EditUserStory" asp-route-id="@userStory.Id"><i class="fa fa-cog"></i></a>
                            <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@userStory.Id"><i class="fa fa-trash"></i></a>
                            <a class="btn" type="button" asp-page-handler="MoveRight" asp-route-id="@userStory.Id"><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                }

            }
            <div class="empty"></div>

        </div>

        <div class="card mb-2 empty" style="width: 25%; padding: 5px; border: none">

            <div class="card-header p-2 text-center">
                <h5 class="card-title">
                    Doing
                    <span class="float-right p-lg-1">
                        <a class="btn" type="button" asp-page="CreateUserStory" asp-route-id="2">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                </h5>
            </div>

            <div class="p-1"></div>

            @foreach (var userStory in @Model.UserStories)
            {
                @if (userStory.Column == Column.Doing)
                {
                    <div class="card mb-2 dragAbleElement" draggable="true" id="@userStory.Id">
                        <div class="card-header p-1" style="height: 2rem">
                            <h5 class="card-title text-center">@userStory.Title<span class="float-right text-black-50 p-lg-1">@userStory.Priority</span></h5>
                        </div>
                        <div class="card-body p-1" style="height: 5rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            <p class="card-text" style="white-space: pre-line; padding-left: 5px; padding-right: 5px;">@userStory.Description</p>
                        </div>
                        <div class="card-footer align-content-center" style="height: 2.5rem; padding-top: 0; padding-bottom: 0">
                            <a class="btn" type="button" asp-page-handler="MoveLeft" asp-route-id="@userStory.Id"><i class="fa fa-arrow-left"></i></a>
                            <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@userStory.Id"><i class="fa fa-info-circle"></i></a>
                            <a class="btn" type="button" asp-page="EditUserStory" asp-route-id="@userStory.Id"><i class="fa fa-cog"></i></a>
                            <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@userStory.Id"><i class="fa fa-trash"></i></a>
                            <a class="btn" type="button" asp-page-handler="MoveRight" asp-route-id="@userStory.Id"><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                }

            }
            <div class="empty"></div>

        </div>

        <div class="card mb-2 empty" style="width: 25%; padding: 5px; border: none">

            <div class="card-header p-2 text-center">
                <h5 class="card-title">
                    Done
                    <span class="float-right p-lg-1">
                        <a class="btn" type="button" asp-page="CreateUserStory" asp-route-id="3">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                </h5>
            </div>

            <div class="p-1"></div>

            @foreach (var userStory in @Model.UserStories)
            {
                @if (userStory.Column == Column.Done)
                {
                    <div class="card mb-2 dragAbleElement" draggable="true" id="@userStory.Id">
                        <div class="card-header p-1" style="height: 2rem">
                            <h5 class="card-title text-center">@userStory.Title<span class="float-right text-black-50 p-lg-1">@userStory.Priority</span></h5>
                        </div>
                        <div class="card-body p-1" style="height: 5rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            <p class="card-text" style="white-space: pre-line; padding-left: 5px; padding-right: 5px;">@userStory.Description</p>
                        </div>
                        <div class="card-footer align-content-center" style="height: 2.5rem; padding-top: 0; padding-bottom: 0">
                            <a class="btn" type="button" asp-page-handler="MoveLeft" asp-route-id="@userStory.Id"><i class="fa fa-arrow-left"></i></a>
                            <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@userStory.Id"><i class="fa fa-info-circle"></i></a>
                            <a class="btn" type="button" asp-page="EditUserStory" asp-route-id="@userStory.Id"><i class="fa fa-cog"></i></a>
                            <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@userStory.Id"><i class="fa fa-trash"></i></a>
                            <a class="btn" type="button" asp-page-handler="MoveRight" asp-route-id="@userStory.Id"><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                }

            }
            <div class="empty"></div>

        </div>

        <div class="card mb-2 empty" style="width: 25%; padding: 5px; border: none">

            <div class="card-header p-2 text-center">
                <h5 class="card-title">
                    Done Done
                    <span class="float-right p-lg-1">
                        <a class="btn" type="button" asp-page="CreateUserStory" asp-route-id="4">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                </h5>
            </div>

            <div class="p-1"></div>

            @foreach (var userStory in @Model.UserStories)
            {
                @if (userStory.Column == Column.Done_Done)
                {
                    <div class="card mb-2 dragAbleElement" draggable="true" id="@userStory.Id">
                        <div class="card-header p-1" style="height: 2rem">
                            <h5 class="card-title text-center">@userStory.Title<span class="float-right text-black-50 p-lg-1">@userStory.Priority</span></h5>
                        </div>
                        <div class="card-body p-1" style="height: 5rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            <p class="card-text" style="white-space: pre-line; padding-left: 5px; padding-right: 5px;">@userStory.Description</p>
                        </div>
                        <div class="card-footer align-content-center" style="height: 2.5rem;  padding-top: 0; padding-bottom: 0">
                            <a class="btn" type="button" asp-page-handler="MoveLeft" asp-route-id="@userStory.Id"><i class="fa fa-arrow-left"></i></a>
                            <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@userStory.Id"><i class="fa fa-info-circle"></i></a>
                            <a class="btn" type="button" asp-page="EditUserStory" asp-route-id="@userStory.Id"><i class="fa fa-cog"></i></a>
                            <a class="btn" type="button" asp-page-handler="DeleteUserStory" asp-route-id="@userStory.Id"><i class="fa fa-trash"></i></a>
                            <a class="btn"><i class="fa fa-arrow-right" style="visibility: hidden"></i></a>
                        </div>
                    </div>
                }

            }
            <div class="empty"></div>

        </div>

    </div>
}
<script src="~/js/dragNDrop.js"></script>
